<form class="primary-form-control" [formGroup]="createAccountsForm">
  <div class="row">
    <div class="col-12">
      <div class="pt-1">
        <label class="form-label" for="accounts-amount">Amount</label>
        <div [ngClass]="{'form-validation-error': createAccountsForm.get('amount')?.invalid && createAccountsForm.get('amount')?.touched}">
          <input type="number" class="form-control" id="accounts-amount" formControlName="amount" placeholder="ex: 100 AED">
          <div class="form-validation-msg">
            <span>Required</span>
            <!-- <span *ngIf="createAccountsForm.get('amount')?.errors?.['required']">Required</span>
            <span *ngIf="createAccountsForm.get('amount')?.errors?.['pattern']">Format must be like: 100 AED</span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="pt-1">
        <label class="form-label" for="accounts-remarks">Remarks</label>
        <div [ngClass]="{'form-validation-error': createAccountsForm.get('remarks')?.invalid && createAccountsForm.get('remarks')?.touched}">
          <input type="text" id="accounts-remarks" class="form-control" formControlName="remarks" placeholder="Remarks...">
          <div class="form-validation-msg">
            <span>Required</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="pt-1">
        <label class="form-label" for="accounts-credit-debit">Credit/Debit</label>
        <div [ngClass]="{'form-validation-error': createAccountsForm.get('isCredit')?.invalid && createAccountsForm.get('isCredit')?.touched}">
          <p-select class="form-control primary-p-select" panelStyleClass="primary-p-select-panel"
          [options]="creditDebitOptions" dataKey="_id"
          formControlName="isCredit" appendTo="body"
          optionLabel="name" optionValue="value"
          placeholder="Select Credit/Debit"/>
          <div class="form-validation-msg">
            <span>Required</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="pt-1">
        <label class="form-label" for="accounts-payment-type">Payment Type</label>
        <div [ngClass]="{'form-validation-error': createAccountsForm.get('paymentTypeId')?.invalid && createAccountsForm.get('paymentTypeId')?.touched}">
          <p-select class="form-control primary-p-select" panelStyleClass="primary-p-select-panel"
          [options]="paymentTypeMaster" dataKey="_id"
          formControlName="paymentTypeId" appendTo="body"
          optionLabel="name" optionValue="_id"
          placeholder="Select Type"/>
          <div class="form-validation-msg">
            <span>Required</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
