<nav class="px-3 py-3" style="width: 100dvw">
  <div
    class="nav-container"
    style="
      background-color: var(--secondary);
      height: 65px;
      border-radius: 15px;
    "
  >
    <div class="nav-left-section" style="max-width: 140px">
      <div class="d-flex align-items-center justify-content-center">
        <div style="margin-left: 13px">
          <span
            style="
              display: block;
              background: var(--primary);
              padding: 7px 15px;
              border-radius: 8px;
              font-size: 1.2rem;
              font-weight: 700;
            "
            >H</span
          >
        </div>
        <div>
          <span
            style="font-size: 1.1rem; font-weight: 500; padding-left: 0.7rem"
            >Hammer</span
          >
        </div>
      </div>
    </div>

    <div
      class="nav-center-section w-100 px-2"
      [ngClass]="{ 'd-none': isMobileScreen }"
    >
      <ul class="menu-items">
        <ng-container *ngIf="loggedInUser?.role === '1'">
          <li class="menu-item" routerLinkActive="active">
            <a routerLink="/home/branches">Branches</a>
          </li>
        </ng-container>
        <ng-container *ngIf="loggedInUser?.role != '3'">
          <li class="menu-item" routerLinkActive="active">
            <a routerLink="/home/customers">Customers</a>
          </li>
          <li class="menu-item" routerLinkActive="active">
            <a routerLink="/home/trainers">Trainers</a>
          </li>
          <li class="menu-item" routerLinkActive="active">
            <a routerLink="/home/payments">Payments</a>
          </li>
          <!-- <li class="menu-item" routerLinkActive="active">
            <a routerLink="/home/reports">Reports</a>
          </li> -->
          <li class="menu-item" routerLinkActive="active">
            <a routerLink="/home/attendance">Attendance</a>
          </li>
          <li class="menu-item" routerLinkActive="active">
            <a routerLink="/home/accounts">Accounts</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <div
      class="nav-right-section d-flex align-items-center justify-content-center px-2"
      style="max-width: 140px"
    >
      <button
        class="hamburger-button"
        *ngIf="isMobileScreen"
        (click)="visible = true"
      >
        <i class="fa-solid fa-bars"></i>
      </button>

      <ng-container *ngIf="!isMobileScreen">
        <div style="margin-right: 13px">
          <span
            (click)="op.toggle($event)"
            class="px-2"
            style="font-size: 1.5rem; cursor: pointer"
          >
            <i class="fa-regular fa-circle-user"></i>
          </span>
        </div>
        <p-popover styleClass="profile-popover-card" class="p-3" #op>
          <div class="d-flex align-items-center justify-content-center">
            <ul class="profile-popover">
              <li class="profile-popover-items">Usergmail.com</li>
              <li class="profile-popover-items">
                <a routerLink="/signin" (click)="signOut()">Logout</a>
              </li>
            </ul>
          </div>
        </p-popover>
      </ng-container>
    </div>
  </div>

  <p-drawer #drawerRef [(visible)]="visible" [modal]="true" position="right">
    <ng-template #headless>
      <div class="d-flex align-items-center justify-content-end">
        <button
          (click)="closeCallback($event)"
          class="d-flex justify-content-center align-items-center"
          type="button"
          style="border: none; border-radius: 50%; height: 30px; width: 30px"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <ul class="mobile-menu-items">
        <ng-container *ngIf="loggedInUser?.role === '1'">
          <li class="mobile-menu-item" routerLinkActive="active">
            <a routerLink="/home/branches" (click)="visible = false"
              >Branches</a
            >
          </li>
        </ng-container>
        <li class="mobile-menu-item" routerLinkActive="active">
          <a routerLink="/home/customers" (click)="visible = false"
            >Customers</a
          >
        </li>
        <li class="mobile-menu-item" routerLinkActive="active">
          <a routerLink="/home/trainers" (click)="visible = false">Trainers</a>
        </li>
        <li class="mobile-menu-item" routerLinkActive="active">
          <a routerLink="/home/payments" (click)="visible = false">Payments</a>
        </li>
        <li class="mobile-menu-item" routerLinkActive="active">
          <a routerLink="/home/reorts" (click)="visible = false">Reports</a>
        </li>
        <li class="mobile-menu-item" routerLinkActive="active">
          <a routerLink="/home/attendance" (click)="visible = false"
            >Attendance</a
          >
        </li>
        <li class="mobile-menu-item" routerLinkActive="active">
          <a routerLink="/home/accounts" (click)="visible = false">Accounts</a>
        </li>
        <li class="mobile-menu-item" routerLinkActive="active">
          <a routerLink="/signin" (click)="signOut(); visible = false"
            >Logout</a
          >
        </li>
      </ul>
    </ng-template>
  </p-drawer>
</nav>
