.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    /* background-color: var(--secondary); */
    background-color: var(--primary);
    height: 65px;
    border-radius: 15px;
}

.nav-left-section {
    max-width: 140px;
}

.website-logo {
    display: block;
    /* background: var(--primary); */
    padding: 7px 15px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color-icon);
    background: var(--secondary-gradient-color);
}

.website-label {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 0.7rem;
    /* color: var(--primary-text-color); */
    color: #ffff;
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px 20px;
    margin: 0;
}

.menu-items a {
    display: block;
    text-decoration: none;
    position: relative;
    /* transition: transform 0.3s ease-in-out; */
    display: inline-block;
    color: var(--primary-color-text);
    transition: color 0.2s ease;
}
.menu-item.active a {
    padding: 4px 12px;
    border-radius: 6px;
    background-color: #2e202a;
    /* border: 2px solid var(--primary-color); */
    color: var(--ternary);

}
.menu-item a:hover {
    color: var(--ternary);
}


.menu-item {
    padding: 0px 20px;
    cursor: pointer;
}

@media (max-width:1250px) {
    .menu-item {
        padding: 10px 15px;
        margin: 0px 10px;
    }
}

@media (max-width:1150px) {
    .menu-item {
        padding: 10px 10px;
        margin: 0px 5px;
    }
}

::ng-deep .profile-popover-card {
    width: 15dvw;
}

.profile-popover {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-popover-items {
    padding: 4px 4px;
    cursor: pointer;
}

.profile-popover-items a {
    text-decoration: none;
    color: #000;
}
.profile-popover.active a {
    background-color: var(--primary-color);
}

.d-none {
  display: none !important;
}

::ng-deep .mobile-drawer.p-drawer {
    border-color: inherit !important;
}

.mobile-nav {
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 10px;
}

.mobile-panel-section {
    background-color: var(--primary);
    height: 100dvh;
}
.mobile-panel-close-btn {
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: var(--primary);
}

.mobile-panel-header {
    background: var(--primary-gradient-color);
    border-radius: 15px;
    height: 60px;
    width: 100%;
}

.mobile-panel-body {
    background: var(--primary-gradient-color);
    border-radius: 15px;
    width: 100%;
}

.mobile-panel-footer {
    background: var(--primary-gradient-color);
    border-radius: 15px;
    width: 100%;
}

.mobile-menu-item {
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

.mobile-menu-item a:hover {
    color: var(--ternary);
}

.mobile-menu-item.active a {
    padding: 4px 12px;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--ternary);
}
.mobile-menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 80%;
}
.mobile-menu-items a {
   text-decoration: none;
   color: var(--primary-color-text);
}

.hamburger-button {
    border: none;
    /* background-color: inherit; */
    display: block;
    padding: 7px 15px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color-icon);
    background: var(--secondary-gradient-color);
}


.mobile-menu-user-block {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;
}
.mobile-menu-user-list {
    padding: 4px 4px;
    cursor: pointer;
    text-align: center;
    width: 80%;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    color: var(--primary-color-text);

}
.mobile-menu-user-list a {
   color: var(--primary-color-text);
   text-decoration: none;
}
.mobile-menu-user-list a:hover {
    color: var(--ternary);
}
.mobile-menu-user-list:hover {
    color: var(--ternary);
}
.nav-user-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--ternary);
}
