<ng-container *ngIf="formMode == 'view'">
  <p-table
  [scrollable]="true"
  scrollHeight="{{getOffsetHeightForPrimaryTable(70)}}"
  [tableStyle]="{'min-height': customerPaymentPlan.length == 0 ? getOffsetHeightForPrimaryTable(IsCustomer ? 562 : 70) : 'unset'}"
  class="primary-p-table"
  [value]="customerPaymentPlan">
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngIf="!IsCustomer">
          <th>
            <span>Customer Code</span>
          </th>
          <th>
            <span>Mobile No</span>
          </th>
          <th>
            <span>Name</span>
          </th>
        </ng-container>
        <th>
          <span>Plan</span>
        </th>
        <th>
          <span>Payable Amount</span>
        </th>
        <th>
          <span>Paid Amount</span>
        </th>
        <th>
          <span>Balance Amount</span>
        </th>
        <th>
          <span>Plan Start Date</span>
        </th>
        <th>
          <span>Plan End Date</span>
        </th>
        <th>
          <span>Plan Ends In</span>
        </th>
        <th>
          <span>Status</span>
        </th>
        <th pFrozenColumn alignFrozen="right">
          <span>Action</span>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-plan>
      <tr>
        <ng-container *ngIf="!IsCustomer">
          <td>
            <div>
              <span>{{ plan?.customer?.ctr_Code }}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{ plan?.customer?.ctr_MobileNo }}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{ plan?.customer?.ctr_Name }}</span>
            </div>
          </td>
        </ng-container>
        <td>
          <div>
            <span>{{ plan?.paymentPlan?.name }}</span>
          </div>
        </td>
        <td>
          <div>
            <span style="color: #3ab9fa;">{{ plan?.payableAmount }}</span>
          </div>
        </td>
        <td>
          <div>
            <span class="text-success">{{ plan?.paidAmount }}</span>
          </div>
        </td>
        <td>
          <div>
            <span class="text-danger">{{ plan?.balanceAmount }}</span>
          </div>
        </td>
        <td>
          <div>
            <span>{{ plan?.planStartDate | date:'dd/MM/yyy' }}</span>
          </div>
        </td>
        <td>
          <div>
            <span>{{ plan?.planEndDate | date:'dd/MM/yyy' }}</span>
          </div>
        </td>
        <td>
          <div>
            <span>{{ plan?.planEndsIn }} days</span>
          </div>
        </td>
        <td>
          <div>
            <span [ngClass]="plan?.paymentStatus == 'Pending' ? 'badge-danger' : 'badge-success'">{{ plan?.paymentStatus}}</span>
          </div>
        </td>
        <td pFrozenColumn alignFrozen="right">
          <div>
            <span *ngIf="IsCustomer" (click)="editPaymentPlan(plan)" pTooltip="Edit" tooltipPosition="top" class="c-pointer px-3">
              <i class="fa-solid fa-pen-to-square"></i>
            </span>
            <span (click)="viewPaymentHistory(plan?.payments)" pTooltip="Payment History" tooltipPosition="top" class="c-pointer px-3">
              <i class="fa-solid fa-clock-rotate-left"></i>
            </span>
            <div style="width: 47px;">
              <span *ngIf="plan?.paymentStatus == 'Completed' && !IsCustomer" (click)="openPaymentPlanRenewModal(plan)" pTooltip="Renew Plan" tooltipPosition="top" class="c-pointer px-3">
                <i class="fa-solid fa-repeat"></i>
              </span>
              <span *ngIf="plan?.paymentStatus == 'Pending'" (click)="openPayBalanceAmountDialog(plan)" pTooltip="Pay Balance" tooltipPosition="top" class="c-pointer px-3">
                <i class="fa-solid fa-cash-register"></i>
              </span>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="12" class="text-center fw-bold text-white">No Data</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>


<ng-container *ngIf="formMode == 'create'">

</ng-container>

<!-- Payment Plan -->
<p-dialog [draggable]="false" [showHeader]="false" class="primary-p-dialog" [modal]="true" [position]="'center'" [(visible)]="isVisibleAddUpdatePaymentPlanDialog" [style]="{ width: popupWidth }">
  <div class="p-p-dialog-header ofH_calc_modal_header">
    <div>
      <span class="p-p-dialog-header-label">{{createPaymentPlanForm.get('_id')?.value ? 'Edit Payment Plan' : 'Add Payment Plan'}}</span>
    </div>
    <div>
      <button class="p-p-dialog-header-button" (click)="isVisibleAddUpdatePaymentPlanDialog = false" ><i class="fa-solid fa-xmark c-pointer text-white"></i></button>
    </div>
  </div>
  <div class="p-p-dialog-body" [ngStyle]="{ 'max-height': getOffsetHeightForModal(93), 'overflow-x': 'hidden' }">
    <form class="primary-form-control" [formGroup]="createPaymentPlanForm">
      <div class="row">
        <div class="col-12">
          <div class="pt-1">
            <label class="form-label" for="customer-payment-plan">Payment Plan</label>
            <div [ngClass]="{'form-validation-error': createPaymentPlanForm.get('paymentPlanId')?.invalid && createPaymentPlanForm.get('paymentPlanId')?.touched}">
              <p-select class="form-control primary-p-select"
              [options]="paymentPlanOptions" dataKey="_id"
              formControlName="paymentPlanId" (onChange)="onPaymentPlanChange()"
              optionLabel="name" optionValue="_id"
              placeholder="Select a plan"/>
              <div class="form-validation-msg">
                <span>Required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="pt-1">
            <label class="form-label" for="receipt-number">Receipt Number</label>
            <div [ngClass]="{'form-validation-error': createPaymentPlanForm.get('receiptNumber')?.invalid && createPaymentPlanForm.get('receiptNumber')?.touched}">
              <input type="text" id="receipt-number" class="form-control" formControlName="receiptNumber" placeholder="ex: RECP0225">
              <div class="form-validation-msg">
                <span>Required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="pt-1">
            <label class="form-label" for="payable-amount">Payable Amount</label>
            <div [ngClass]="{'form-validation-error': createPaymentPlanForm.get('payableAmount')?.invalid && createPaymentPlanForm.get('payableAmount')?.touched}">
              <input type="number" id="payable-amount" class="form-control" formControlName="payableAmount" placeholder="ex: 300 AED">
              <div class="form-validation-msg">
                <span>Required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="pt-1">
            <label class="form-label" for="paid-amount">Paid Amount</label>
            <div [ngClass]="{'form-validation-error': createPaymentPlanForm.get('paidAmount')?.invalid && createPaymentPlanForm.get('paidAmount')?.touched}">
              <input type="number" id="paid-amount" class="form-control" formControlName="paidAmount" placeholder="ex: 300 AED">
              <div class="form-validation-msg">
                <span>{{paidAmountValidationMsg}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="pt-1">
            <label class="form-label" for="customer-payment-plan">Payment Method</label>
            <div [ngClass]="{'form-validation-error': createPaymentPlanForm.get('paymentMethod')?.invalid && createPaymentPlanForm.get('paymentMethod')?.touched}">
              <p-select class="form-control primary-p-select" appendTo="body"
              [options]="paymentMethodsOptions" dataKey="_id" formControlName="paymentMethod"
              optionLabel="name" optionValue="name" placeholder="Select a Method"/>
              <div class="form-validation-msg">
                <span>Required</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Plan Start Date for all payment plans -->
        <div class="col-12">
          <div class="pt-1">
            <label class="form-label" for="planStartDate">Plan Start Date</label>
            <div [ngClass]="{'form-validation-error': createPaymentPlanForm.get('planStartDate')?.invalid && createPaymentPlanForm.get('planStartDate')?.touched}">
              <p-datepicker class="primary-p-datepicker" panelStyleClass="primary-p-datepicker-panel" id="planStartDate" formControlName="planStartDate" placeholder="dd-mm-yyy" dateFormat="dd-MM-yy" appendTo="body"/>
              <div class="form-validation-msg">
                <span>Required</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Date only for Custom Period -->
        <ng-container *ngIf="createPaymentPlanForm.get('paymentPlanId')?.value == '4'">
          <div class="col-12">
            <div class="pt-1">
              <label class="form-label" for="planEndDate">Plan End Date</label>
              <div [ngClass]="{'form-validation-error': createPaymentPlanForm.get('planEndDate')?.invalid && createPaymentPlanForm.get('planEndDate')?.touched}">
                <p-datepicker class="primary-p-datepicker" panelStyleClass="primary-p-datepicker-panel" id="planEndDate" formControlName="planEndDate" [minDate]="getMinEndDate()" placeholder="dd-mm-yyy" dateFormat="dd-MM-yy" appendTo="body"/>
                <div class="form-validation-msg">
                  <span>Required</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="p-p-dialog-footer ofH_calc_modal_footer">
    <div>
      <button (click)="isVisibleAddUpdatePaymentPlanDialog = false" class="custom-dark-form-btn mx-2 px-3 py-1"> Cancel </button>
      <button [disabled]="isPaymentPlanButtonLoading" class="custom-primary-form-btn px-3 py-1" (click)="addUpdateCustomerPaymentPlan()">Save</button>
    </div>
  </div>
</p-dialog>


<!-- Payment History -->
<p-dialog [draggable]="false" [showHeader]="false" class="primary-p-dialog" [modal]="true" [position]="'center'" [(visible)]="isVisiblePaymentHistoryDialog" [style]="{ width: popupWidth }">
  <div class="p-p-dialog-header ofH_calc_modal_header">
    <div>
      <span class="p-p-dialog-header-label">Payment History</span>
    </div>
    <div>
      <button class="p-p-dialog-header-button" (click)="isVisiblePaymentHistoryDialog = false" ><i class="fa-solid fa-xmark c-pointer text-white"></i></button>
    </div>
  </div>
  <div class="p-p-dialog-body">
    <p-table
    [scrollable]="true"
    scrollHeight="350px"
    [tableStyle]="{'min-height': selectedPlanPaymentHistory.length == 0 ? '150px' : 'unset'}"
    class="primary-p-table" [value]="selectedPlanPaymentHistory">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <span>Paid Amount</span>
          </th>
          <th>
            <span>Payment Date</span>
          </th>
          <th>
            <span>Payment Method</span>
          </th>
          <th>
            <span>Receipt Number</span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-payment>
        <tr>
          <td>
            <div>
              <span>{{ payment?.amount }}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{ payment?.paymentDate | date:'dd/MM/yyy'  }}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{ payment?.paymentMethod }}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{ payment?.receiptNumber }}</span>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="10" class="text-center fw-bold text-white">No Data</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-p-dialog-footer ofH_calc_modal_footer">
    <div>
      <button (click)="isVisiblePaymentHistoryDialog = false" class="custom-dark-form-btn mx-2 px-3 py-1"> Close </button>
    </div>
  </div>
</p-dialog>

<!-- Pay Balance -->
<p-dialog [draggable]="false" [showHeader]="false" class="primary-p-dialog" [modal]="true" [position]="'center'" [(visible)]="isVisiblePayBalanceDialog" [style]="{ width: popupWidth }">
  <div class="p-p-dialog-header ofH_calc_modal_header">
    <div>
      <span class="p-p-dialog-header-label">Payment</span>
    </div>
    <div>
      <button class="p-p-dialog-header-button" (click)="isVisiblePayBalanceDialog = false" ><i class="fa-solid fa-xmark c-pointer text-white"></i></button>
    </div>
  </div>
  <div class="p-p-dialog-body">
    <div class="row">
      <div class="col-12">
        <div class="pt-1">
          <label class="form-label" for="customer-payment-plan">Payment Method</label>
          <div [ngClass]="{'form-validation-error': showPaymentMethodValidation}">
            <p-select class="form-control primary-p-select"
            [options]="paymentMethodsOptions" dataKey="_id"
            [(ngModel)]="selectedPaymentPlan.payBalancePaymentMethod"
            optionLabel="name" optionValue="name" appendTo="body"
            placeholder="Select a method"/>
            <div class="form-validation-msg">
              <span>Required</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="pt-1">
          <label class="form-label" for="pay-balance-amount">Pay Balance Amount</label>
          <div [ngClass]="{'form-validation-error': showPayBalanceValidation}">
            <input type="number" id="pay-balance-amount" class="form-control"  placeholder="ex: 300 AED"
            [max]="selectedPaymentPlan?.balanceAmount" [(ngModel)]="selectedPaymentPlan.payBalanceAmount">
            <div class="form-validation-msg">
              <span>{{payBalanceValidationMsg}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
          <div class="pt-1">
            <label class="form-label" for="receipt-number">Receipt Number</label>
            <div [ngClass]="{'form-validation-error': showPayBalanceValidation}">
              <input type="text" id="receipt-number" class="form-control" placeholder="ex: RECP0225"
               [(ngModel)]="selectedPaymentPlan.receiptNumber">
              <div class="form-validation-msg">
                <span>Required</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="p-p-dialog-footer ofH_calc_modal_footer">
    <div>
      <button (click)="isVisiblePayBalanceDialog = false" class="custom-dark-form-btn mx-2 px-3 py-1"> Cancel </button>
      <button [disabled]="isButtonLoading" class="custom-primary-form-btn px-3 py-1" (click)="savePayBalanceAmount()">Save</button>
    </div>
  </div>
</p-dialog>
