<div class="custom-container-fluid p-0">
  <div class="primary-header-container align-items-center d-flex justify-content-between px-3 py-3 ofH_calc_body_header">
    <div>
      <h5 class="primary-header-label">Branch</h5>
    </div>
    <div class="d-flex">
      <div class="d-flex">
        <div (click)="isVisibleBranchFilterDialog = true" class="primary-filter-icon-container">
          <span class="filter-icon"><i class="fa-solid fa-filter"></i></span>
        </div>
        <div class="primary-globel-filter">
          <span><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control" placeholder="Search Here...">
        </div>
      </div>
      <div>
        <button class="custom-primary-btn" (click)="addBranchButton();">
          <span>Add Branch</span>
        </button>
      </div>
    </div>
    </div>
  <div>
    <div class="primary-p-table-container" [style]="{ height: getOffsetHeightForPrimaryTable(70)}">
      <p-table
      [scrollable]="true"
      scrollHeight="{{getOffsetHeightForPrimaryTable(70)}}"
      [tableStyle]="{'min-height': branchesList.length == 0 ? getOffsetHeightForPrimaryTable(70) : 'unset'}"
      class="primary-p-table" [value]="branchesList">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <span>Code</span>
            </th>
            <th>
              <span>Location</span>
            </th>
            <th>
              <span>Name</span>
            </th>
            <th pFrozenColumn alignFrozen="right">
              <span>Action</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-branch>
          <tr>
            <td>
              <div>
                <span>{{ branch?.bch_Code }}</span>
              </div>
            </td>
            <td>
              <div>
                <span>{{ branch?.bch_Location }}</span>
              </div>
            </td>
            <td>
              <div>
                <span>{{ branch?.bch_Name }}</span>
              </div>
            </td>
            <td pFrozenColumn alignFrozen="right">
              <div>
                <span class="c-pointer" pTooltip="View" tooltipPosition="top" (click)="onSelectViewBranch(branch)">
                  <i class="fa-regular fa-eye"></i>
                </span>
                <span class="px-3 c-pointer" pTooltip="Edit" tooltipPosition="top" (click)="onSelectEditBranch(branch);">
                  <i class="fa-regular fa-pen-to-square"></i>
                </span>
                <!-- <span class="c-pointer" pTooltip="Delete" tooltipPosition="top">
                  <i class="fas fa-trash-alt"></i>
                </span> -->
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="10" class="text-center fw-bold text-white">No Data</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
    <div class="d-flex justify-content-center ofH_calc_pagin px-4" style="width: 100%;">
      <app-table-paginator class="w-100"
        (OnPageChange)="onPageChange($event)"
        [first]="indexOfFirstRecord"
        [rows]="pageSize"
        [totalRecords]="xPagination?.totalCount">
      </app-table-paginator>
    </div>


  </div>
</div>

<p-dialog [draggable]="false" [showHeader]="false" class="primary-p-dialog" [modal]="true" [position]="'right'" [(visible)]="isVisibleBranchAddEditDialog" [style]="{ width: popupWidth }">
  <div class="p-p-dialog-header ofH_calc_modal_header">
    <div>
      <span class="p-p-dialog-header-label">{{(formMode == 'view' ? 'View' : formMode == 'create' ? 'Create' : 'Edit')}} Branch</span>
    </div>
    <div>
      <button class="p-p-dialog-header-button" (click)="dialogCloseBtn()" ><i class="fa-solid fa-xmark c-pointer text-white"></i></button>
    </div>
  </div>
  <div class="p-p-dialog-body" [ngStyle]="{ 'max-height': getOffsetHeightForModal(93), 'overflow-x': 'hidden' }">
    <app-branch-add-edit-form [formDataMode]="formMode" [branchData]="selectedBranch"></app-branch-add-edit-form>
  </div>
  <div class="p-p-dialog-footer ofH_calc_modal_footer">
    <div>
      <button (click)="dialogCloseBtn()" class="custom-dark-form-btn mx-2 px-3 py-1">{{formMode == 'view' ? 'Close' : 'Cancel'}}</button>
      <button [disabled]="isButtonLoading" class="custom-primary-form-btn px-3 py-1" (click)="onBranchDetailsSave()">Save</button>
    </div>
  </div>
</p-dialog>

<p-dialog [draggable]="true" [dismissableMask]="true" [showHeader]="false" class="primary-p-dialog" [modal]="true"
  [position]="'right'" [(visible)]="isVisibleBranchFilterDialog" [style]="{ width: popupWidth }">
  <div>
    <div style="border-bottom: 1px solid var(--primary);" class="d-flex align-items-center justify-content-between px-3 py-3">
      <div>
        <span style="font-weight: 700; font-size: 1.1rem; color: #fff;">Filter</span>
      </div>
      <div style="line-height: 1rem;">
        <span (click)="isVisibleBranchFilterDialog = false"><i class="fa-solid fa-xmark c-pointer text-white"></i></span>
      </div>
    </div>
    <div class="px-3 py-3"
      [ngStyle]="{ 'height': getOffsetHeightByCustomClass(175, containerOffSetHeightClasses), 'max-width': popupWidth }"
      style="overflow-x: hidden;">
      <app-filter-fields-container [FilterFields]="filterFields"
        [showFilterFields]="showFilterFields"></app-filter-fields-container>
    </div>
    <div style="border-top: 1px solid var(--primary);" class="d-flex justify-content-end px-3 py-3">
      <button (click)="isVisibleBranchFilterDialog = false; onFilterClear()" class="custom-dark-form-btn mx-1 px-3 py-1">Clear</button>
      <button (click)="getAllBranches(true)" class="mx-1 custom-primary-form-btn mx-1 px-3 py-1">Apply</button>
    </div>
  </div>
</p-dialog>
