/* .card {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image {
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.card-fields {
    background-color: aliceblue;
    padding: 5px 2px;
    margin: 2px 5px;
}
.card-footer {
    background-color: #ecf0f1;
    padding: 10px;
    text-align: center;
} */