<div class="login-main">

  <div class="login-left">
    <div class="welcome-text">
      <p style="font-size: 30px; margin-left: 1.5rem; font-weight: bold; color:#fff">WELCOME TO</p>
      <!-- <p class="lead text-center" style="font-size: 16px;">Your fitness journey starts here.</p> -->
      <img src="assets/images/logo.png" alt="joro" width="250" />
    </div>
  </div>
  

  <div class="login-right">
    <div class="glass-effect">
      <h2 class="mb-4 text-center">Login</h2>
      <form [formGroup]="signInForm" (ngSubmit)="onSignInSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input 
            type="email" 
            class="form-control" 
            id="email" 
            formControlName="email" 
            placeholder="Enter your email">
          <div *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched" class="text-danger">
            <small *ngIf="signInForm.get('email')?.errors?.['required']">Email is required</small>
            <small *ngIf="signInForm.get('email')?.errors?.['email']">Please enter a valid email</small>
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            formControlName="password" 
            placeholder="Enter your password">
          <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched" class="text-danger">
            <small *ngIf="signInForm.get('password')?.errors?.['required']">Password is required</small>
          </div>
        </div>
        <div class="d-grid gap-2 mt-4">
          <button 
            type="submit" 
            style="margin-top: 1.5rem; cursor: pointer; background-color: #fff !important; color: #000 !important;" 
            class="btn btn-secondary" 
            [disabled]="signInForm.invalid || isLoading">
            <span *ngIf="!isLoading">Sign In</span>
            <span *ngIf="isLoading">
              <div class="loader" style="margin: 0 auto;"></div>
            </span>
          </button>
        </div>
        
      </form>
      <div class="mt-3 text-center">
        <!-- <small>Don't have an account? <a href="#" class="text-light">Register here</a></small> -->
      </div>
    </div>
  </div>
</div>