.custom-container-card {
  padding: 1rem;
  border: 1px solid var(--primary);
  border-radius: 11px;
  /* position: relative; */
  background: var(--primary-gradient-color);
}

/* .overlay-header {
  top: -10px;
  background: #fff;
  padding: 0px 5px;
  position: absolute;
  display: inline;
  font-size: 1rem;
  font-weight: 600;
} */

.custom-card-header {
  display: flex;
  justify-content: space-between;
}
