<form [formGroup]="createDietPlanForm" class="primary-form-control">
  <div class="row" formArrayName="dietPlans">
    <ng-container *ngFor="let item of dietPlans.controls; let i = index" [formGroupName]="i">
      <ng-container *ngIf="dietPlanFormMode != 'view'"> <!-- For Add Edit Mode -->
        <div class="col-12 pb-3" *ngIf="!item.get('isDeleted')?.value">
          <div class="d-flex justify-content-between align-items-center gap-2">
            <div class="w-100" [ngClass]="{'form-validation-error': item.get('dietKey')?.invalid && item.get('dietKey')?.touched}">
              <input
                type="text"
                class="form-control"
                formControlName="dietKey"
                [ngClass]="{
                  'form-validation-error': item.get('dietKey')?.invalid && item.get('dietKey')?.touched
                }"
                placeholder="Diet Key" />

              <div class="form-validation-msg">
                <span>Required</span>
              </div>
            </div>

            <div class="w-100" [ngClass]="{'form-validation-error': item.get('dietValue')?.invalid && item.get('dietValue')?.touched}">
              <input
                type="text"
                class="form-control"
                formControlName="dietValue"
                [ngClass]="{
                  'form-validation-error': item.get('dietValue')?.invalid && item.get('dietValue')?.touched
                }"
                placeholder="Diet Value" />

              <div class="form-validation-msg">
                <span>Required</span>
              </div>
            </div>

            <!-- Icons -->
            <div class="icon-actions d-flex">
              <!-- If in edit mode -->
              <ng-container *ngIf="item.get('isEdit')?.value; else showEditDelete">
                <i class="fa-solid fa-check text-success" (click)="onSave(i)"></i>
                <i style="color: #ccc;" class="fa-solid fa-xmark c-pointer" (click)="onCancel(i)"></i>
              </ng-container>
              <!-- If NOT in edit mode -->
              <ng-template #showEditDelete>
                <i style="color: var(--ternary);" class="fa-solid fa-pen-to-square" (click)="onEdit(i)"></i>
                <i style="color: #ccc;" class="fa-solid fa-trash" (click)="onDelete(i)"></i>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="dietPlanFormMode == 'view'"> <!-- For View Mode -->
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12" *ngIf="!item.get('isDeleted')?.value">
          <div class="pt-1">
            <label class="form-label">
              {{ item.get('dietKey')?.value || 'Label' }}
            </label>
            <div>
              <input
                type="text"
                class="form-control"
                [value]="item.get('dietValue')?.value"
                readonly />
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="dietPlanFormMode != 'view'"> <!-- For Add Edit Mode -->
      <!-- Add Button -->
      <div class="col-12 pt-3 d-flex justify-content-end">
        <button type="button" class="custom-primary-btn py-1" (click)="onAddDietPlan()">
          <i class="fa-solid fa-plus"></i>
          <span class="px-1">Add</span>
        </button>
      </div>
    </ng-container>
  </div>
</form>
