<div class="custom-container-fluid p-0">
  <div class="primary-header-container align-items-center d-flex justify-content-between px-3 py-3 ofH_calc_body_header">
    <div>
      <h5 class="primary-header-label">Attendence</h5>
    </div>
    <div class="d-flex">
        <div class="filter-container f-c-desk-view">
          <div class="d-flex">
            <div (click)="isVisibleFilterAttendanceDialog = true" class="primary-filter-icon-container">
              <span  class="filter-icon"><i class="fa-solid fa-filter"></i></span>
            </div>
            <div class="primary-global-filter">
              <input type="text" class="form-control" placeholder="Search Here..." (keydown.enter)="onGlobalSearch()" [(ngModel)]="globalSearch">
              <span style="font-size: 0.9rem; width: 19px;" class="c-pointer d-flex" (click)="globalSearch = ''; onGlobalSearch()"><i *ngIf="globalSearch" class="fa-solid fa-xmark pe-2 ps-0"></i></span>
              <span class="magnifying-glass-icon-container" (click)="onGlobalSearch()"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
          </div>
        </div>
      <div>
        <p-datepicker class="attendance-date-picker" [(ngModel)]="attendanceDate" placeholder="Select date" showIcon="true" [dateFormat]="'yy/mm/dd'"
          [maxDate]="maxDate" (onSelect)="attendanceDateSelect($event)" appendTo="body" />
      </div>
    </div>
  </div>
  <div>
    <div class="filter-container f-c-mob-view ofH_calc_mob_global_filter">
      <div class="d-flex align-items-center filter-container justify-content-end pe-2 pt-3">
        <div (click)="isVisibleFilterAttendanceDialog = true" class="primary-filter-icon-container">
          <span  class="filter-icon"><i class="fa-solid fa-filter"></i></span>
        </div>
        <div class="primary-global-filter">
          <input type="text" class="form-control" placeholder="Search Here..." (keydown.enter)="onGlobalSearch()" [(ngModel)]="globalSearch">
          <span style="font-size: 0.9rem; width: 19px;" class="c-pointer d-flex" (click)="globalSearch = ''; onGlobalSearch()"><i *ngIf="globalSearch" class="fa-solid fa-xmark pe-2 ps-0"></i></span>
          <span class="magnifying-glass-icon-container" (click)="onGlobalSearch()"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
      </div>
    </div>
    <div class="attendance_scroll_container px-4 pb-4 mt-4" [ngStyle]="{ 'max-height': getOffsetHeightByCustomClass(61, containerOffSetHeightClasses), 'overflow-x': 'hidden' }">
      <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [fromRoot]="true"
        [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [infiniteScrollContainer]="'.attendance_scroll_container'">
        <ng-container *ngFor="let item of attendanceList">
          <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="card card-custom-shadow mb-3" style="padding: 10px; background: var(--primary-gradient-color);">
              <div class="d-flex">
                <div class="pt-2 px-2">
                  <img
                    src="{{item?.profileImage || '/assets/images/default-profile.png'}}"
                    class="profile-picture"
                    alt="Profile Picture"
                  />
                </div>
                <div class="pt-2">
                  <div class="d-grid" style="font-size: 0.875rem; font-weight: 600;">
                    <!-- <label>Name : </label> -->
                    <div pTooltip="{{item?.ctr_Name}}" tooltipPosition="top" class="px-1 text-overflow-ellipsis c-default">{{item?.ctr_Name}}</div>
                  </div>
                  <div class="d-flex " style="font-size: 0.875rem;">
                    <!-- <label>Code : </label> -->
                    <div class="px-1">#{{item?.ctr_Code}}</div>
                  </div>
                  <div class="d-flex " style="font-size: 0.875rem;">
                    <!-- <label>Time : </label> -->
                    <div class="px-1">{{item?.checkinTime ? (item?.checkinTime | date:'HH:mm') : '-- : --'}}</div>
                  </div>
                  <div class="d-flex " style="font-size: 0.875rem;">
                    <!-- <label>Mobile : </label> -->
                    <div class="px-1">{{item?.ctr_MobileNo}}</div>
                  </div>
                </div>
              </div>
              <div class="pt-3 px-2 pb-2" style="width: 100%;">
                <slide-button [isCheckedIn]="item?.isPresent" [isDisable]="isPastDay" (onSlide)="onCheckin(item)"></slide-button>
              </div>
            </div>
          </div>
         </ng-container>
         <ng-container *ngIf="showSkeletonLoader">
           <ng-container *ngFor="let item of [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}]">
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
              <div class="h-100 pb-3">
                <p-skeleton borderRadius="8px" class="attendance-skeleton"/>
              </div>
            </div>
           </ng-container>
         </ng-container>
      </div>
    </div>


  </div>
</div>

  <p-dialog [draggable]="true" [dismissableMask]="true" [showHeader]="false" class="primary-p-dialog" [modal]="true"
    [position]="'right'" [(visible)]="isVisibleFilterAttendanceDialog" [style]="{ width: popupWidth }">
    <div>
      <div style="border-bottom: 1px solid var(--primary);" class="d-flex align-items-center justify-content-between px-3 py-3">
        <div>
          <span style="font-weight: 700; font-size: 1.1rem; color: #fff;">Filter</span>
        </div>
        <div style="line-height: 1rem;">
          <span (click)="isVisibleFilterAttendanceDialog = false"><i class="fa-solid fa-xmark c-pointer text-white"></i></span>
        </div>
      </div>
      <div class="px-3 py-3"
        [ngStyle]="{ 'height': getOffsetHeightByCustomClass(175, containerOffSetHeightClasses), 'max-width': popupWidth }"
        style="overflow-x: hidden;">
        <app-filter-fields-container [branchOptions]="getBranchOptions" [FilterFields]="filterFields"
            [showFilterFields]="showFilterFields"></app-filter-fields-container>
      </div>
      <div style="border-top: 1px solid var(--primary);" class="d-flex justify-content-end px-3 py-3">
        <button (click)="onFilterClear()" class="custom-dark-form-btn mx-1 px-3 py-1">Clear</button>
        <button (click)="getAllAttendance(true)" class="mx-1 custom-primary-form-btn mx-1 px-3 py-1">Apply</button>
      </div>
    </div>
  </p-dialog>
